body{
    background-image: url(../IMG/istockphoto-1284108690-612x612.jpg) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 730px;
    background-color: white;
    margin-top: 100px;
    margin-left: 540px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 4);
    border-radius: 15px;
    background-color: rgb(61, 60, 60);
}
form h2{
    margin-top: 100px;
    margin-left: 250px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

form .inputs{
    margin: 70px;
    margin-left: 40px;
}

form input{
    padding: 20px;
    width: 570px;
    margin-bottom: 40px;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
}

form #submit{
    width: 140px;
    background-color:  #969eae;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
#submit:hover{
    background-color:  #bfc1c7;
    font-size: 20px;

}
.botones{
    display: flex;
    justify-content: space-between;
}
#back{
    display: flex;
    width: 140px;
    height: 60px;
    background-color:  #969eae;
    color: white;
    cursor: pointer;
    margin-left: -50;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}

#back:hover{
    background-color:  #bfc1c7;
    font-size: 20px;
}
